.sidebar__navegation__menu {
    background-color: var(--cor-fundo-secundaria);
    border-radius: 8px;
    padding: 8px 16px;    
}

.sidebar__navegation__menu ul li {
    padding: 10px 10px 10px 0;
    color: #b3b3b3;
    text-decoration: none;
    text-transform: none;
    font-weight: 600;
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    cursor: pointer;
}