.mostListenedPlaylists__container {
    margin: 12px;
    align-items: stretch !important;
    display: flex !important;   
    flex-direction: column;
    width: 100%;
    max-width: 100%;
    height: 100%;
    overflow-y: auto;
}

.playlist__header__title {
    color: var(--text-base-light);
    font-size: 24px;
    font-weight: 700;
    position: relative;
    margin: 12px 0 12px 12px;
}

.offer__scroll__container {
    position: relative;
    height: 100%;
    overflow-y: auto;
}

.offer__list {
    position: relative;
    height: 100%;
}

.offer__list__item {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
    width: 100%;
    height: 100%;
}

/* @media screen and (max-width: 1140px) {
    .offer__list__item {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (max-width: 972px) {
    .offer__list__item {
        grid-template-columns: 1fr 1fr;
        justify-items: start;
    }
}

@media screen and (max-width: 480px) {
    .offer__list__item {
        grid-template-columns: 1fr;
        justify-content: center;
    }
} */