.sidebar__navegation__first_playlist__button {
    font-weight: 600;
    font-size: 14px;
    font-family: "Poppins", sans-serif;
    background-color: var(--text-base-light);
    color: var(--text-base-dark);
    border: none;
    margin: 22px 0 10px 0;
    height: 35px;
    border-radius: 30px;
    width: 50%;
    cursor: pointer;
}