.footer__premium {
    grid-area: footer;
    background-image: linear-gradient(90deg, #af2896, #509bf5);
    width: 100%;
    padding: 6px;
    z-index: 999;
    opacity: 1;
    transition: opacity .3s ease-in;
    display: flex;
    max-width: 100%;
    flex-direction: column;
    height: 80px;
    border-radius: 8px;
    box-sizing: border-box;
    margin: 0 0 10px 0;
    user-select: none;
    align-self: stretch;
    justify-content: center;
}

.footer__premium__container {
    padding: 10px;
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    gap: var(--grid-gap);
    justify-content: space-between;
    position: relative;
    box-sizing: border-box;
}

.footer__premium__container__text {
    margin: 0 0 4px;
    color: var(--text-base-light);
    cursor: pointer;
}

.footer__premium__container__text h2 {
    font-weight: 700;
    font-size: 0.95rem;
    padding: 4px 0;
}

.footer__premium__container__text p {
    font-weight: 400;
    font-size: 0.9rem;
}

.footer__premium__button__subscribe {
    display: flex;
    border-radius: 9999px;
    padding: 8px 32px;
    height: 100%;
    position: relative;
}