.playlist-container {
    padding: 16px;
    margin: 10px;
    border-radius: 10px;
    background-color: var(--cor-fundo-secundaria);
}

.playlist__header {
    margin: 12px;
    position: relative;
}

.playlist__header h2 {
    color: var(--text-base-light);
    font-size: 20px;
    font-weight: 700;
    position: relative;
}

.playlist__header__greeting {
    color: var(--text-base-light);
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 26px;
    position: relative;
}