.cards {
    width: 100%;
    overflow: hidden;
    display: inline-flex;
    flex-direction: column;
    position: relative;
    border-radius: 8px;
    min-block-size: 48px;
    padding-block: 12px;
    padding-inline: 12px;
}

.cards:hover {
    background-color: var(--card-hover-background-color);
}

.cards:hover .play {
    opacity: 1;
    transform: translateY(-20px);
    cursor: pointer;
}

.play {
    position: absolute;
    right: 0px;
    top: 120px;
    padding: 18px;
    background-color: #3be477;
    border-radius: 100%;
    font-size: 14px;
    opacity: 0;
    transition: all ease 0.4s;
}

.fa__play__icon {
    height: 20px;
    width: 20px;
}

.cards__container {
    box-shadow: 0 8px 24px rgba(0, 0, 0, .5);
    padding-bottom: 100%;
    position: relative;
    width: 100%;
    border-radius: 6px;
    display: flex;
}

.cards__container img {
    border-radius: 6px;
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    object-fit: cover;
}

.cards__info__container {
    padding: 16px 0 8px 0;
}

.cards__info__container span {
    color: var(--text-base-light);
    font-size: 1rem;
    font-weight: 400;
}

.cards__info__section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.cards__info__content span {
    color: var(--cor-fundo-terciaria);
    font-size: 0.8rem;
}