.sidebar__navegation__first_playlist {
    background-color: var(--cor-fundo-quartenaria);
    border-radius: 8px;
    padding: 8px 16px;
    margin-top: 12px;
    display: flex;
    flex-direction: column;
}

.sidebar__navegation__first_playlist h1 {
    font-weight: 600;
    font-size: 14px;
    font-family: "Poppins", sans-serif;
    color: var(--text-base-light);
    padding: 8px 2px;
}

.sidebar__navegation__first_playlist h2 {
    font-weight: 400;
    font-size: 14px;
    font-family: "Poppins", sans-serif;
    color: var(--text-base-light);
    padding: 8px 2px;
}