:root {
  /* Colors */
  --text-base-dark: #000;
  --text-base-light: #fff;
  --text-sub: #a7a7a7;

  --bg-icon: #131313;
  --bg-top-bar: #61616142;
  --bg-arrow-color: rgba(0, 0, 0, 7);
  --grid-gap: 24px;
  --column-count: 5;
  --footer-gradient-color: linear-gradient(90deg, #af2896, #509bf5);
  --card-hover-background-color: #252525;

  --cor-fundo-secundaria: #121212;
  --cor-fundo-terciaria: #b3b3b3;
  --cor-fundo-quartenaria: #242424;

  /* Fonts */
  --font-dm-sans: "DM Sans", sans-serif;
  --font-poppins: "Poppins", sans-serif;
}

.main {
  padding: 8px;
  min-height: 100vh;
  max-height: 100vh;
  position: relative;
  display: grid;
  box-sizing: border-box;
  gap: 8px;
  grid-template-columns: auto 1fr;
  grid-template-rows: 1fr auto;
  grid-template-areas:
    "sidebar content"
    "footer footer";
  overflow: hidden;
}